* {
    padding: 0px;
    margin: 0px;
}
/*fonts===========================================================*/
@font-face {
    font-family: 'sam';
    src: url(Arimo/Arimo-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*body=============================================================*/
body {
    font-family: 'sam', sans-serif;
    position: absolute;
    width: 100%;
    height: 120rem;
    overflow-x: hidden;
    background-color: rgb(235, 235, 235);
}
/* navigation=======================================================*/
nav {
    position: fixed;
    width: 80%;
    height: 2.7rem;
    top: 2rem;
    left: 10%;
    background-color: white;
    transition: 0.3s;
    border-radius: 2rem;
}
nav.hidden {
    transform: translateY(-200%);
}
nav.visible {
    transform: translateY(0%);
}
nav > a {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0.5%;
    text-decoration: none;
    color: #4e4e4e;
    margin-left: 2%;
    font-size: 1.1rem;
}
nav > a:first-child {
    display: inline-block;
    background-image: url(images/sama_logo_1.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 2rem;
    width: 2rem;
    margin-left: 2%;
    margin-top: 0.5%;
}
nav > a:nth-child(2) {
    color: tomato;
}
nav > a:nth-child(6) {
    margin-left: 35%;
}
nav > a:nth-child(7) {
    background-image: url(images/favorite.png);
    height: 1.8rem;
    width: 2rem;
    background-size: contain;
    background-repeat: no-repeat;
}
nav > :nth-child(8) {
    color: white;
    background-color: #4e4e4e;
    width: 1.4rem;
    margin-left: 0%;
    padding-left: 1%;
    padding-top: 0.6%; 
    height: calc(1.5rem + 2%);
    border-radius: 50%;
}
nav > div {
    display: inline-block;
    vertical-align: middle;
    z-index: 1;
    position: relative;
    width: 13%;
    padding-left: 1%;
    height: 1.4rem;
    margin-top: 0.5%;
    border: none;
    margin-left: 2%;
    border-radius: 1rem;
}
nav > div > input {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 10%;
    border-radius: 1rem;
}
nav > div::after {
    content: '';
    position: absolute;
    z-index: 2;
    left: 80%;
    background-image: url(images/search.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 1.5rem;
    width: 1.5rem;
}
nav > a:hover {
    color: tomato;
    transition: 0.3s;
}
nav > div > input:focus {
    background-color: rgba(255, 99, 71, 0.438);
}
/*header =============================================================*/
header {
    position: absolute;
    width: 100%;
    height: 55rem;
    background-image: url(images/two_young_women_sitting_together_outdoors_smiling_warmly_at_the_camera_they_are_wearing_stylish_sne_4hngmw33ipig0cfbkl8b_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}
header > h2 {
    position: absolute;
    color: white;
    font-size: 4rem;
    font-weight: 700;
    top: 36rem;
    left: 4%;
}
header > p {
    font-family: serif;
    position: absolute;
    color: white;
    font-size: 2rem;
    top: 41rem;
    left: 4%;
}
header > a {
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    border: 2px solid white;
    padding: 0.5% 5%;
    top: 46rem;
    left: 4%;
    border-radius: 2rem;
}
header > a:hover {
    background-color: yellow;
    color: black;
    transition: 0.3s;
    border-color: black;
}
/*main =============================================================*/
main {
    position: absolute;
    z-index: 1;
    top: 55rem;
    width: 100%;
}
/*bestsellers =======================================================*/
#bestsellers {
    position: absolute;
    width: 100%;
}
#bestsellers > section > h2 {
    display: inline-block;
    vertical-align: middle;
    font-size: 2.5rem;
    width: 70%;
    font-weight: 700;
    margin-left: 4%;
    margin-top:  1rem;
    color: #272727;
}
#bestsellers > section > a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-left: 10%;
    border: 2px solid  black;
    padding: 0.5% 2%;
    border-radius: 1rem;
}
#bestsellers > section > a:hover {
    background-color: yellow;
    transition: 0.3s;
}
#bestsellers > div {
    position: absolute;
    width: 100%;
    height: 25rem;
    margin-top: 2rem;
}
#bestsellers > div > section {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    height: 100%;
    margin-left: 3%;
    text-align: center;
}
#bestsellers > div > section > img {
    position: absolute;
    width: 90%;
    height: 70%;
    right: 5%;
    border-radius: 1rem;
}
#bestsellers > div > section > img:first-child {
    z-index: 2;
}
#bestsellers > div > section > p {
    position: absolute;
    top: 75%;
    left: 7%;
    font-size: 1.2rem;
    color: #4e4e4e;
}
#bestsellers > div > section:hover > img:first-child {
    opacity: 0;
    transition: 0.3s;
}
/*newarrival ========================================================*/
#newarrival {
    position: absolute;
    top: 60rem;
}
/*shop by catagori =================================================*/
#shop_by_catagory {
    position: absolute;
    top: 120rem;
}
#our_story {
    position: absolute;
    top: 160rem;
}
#instagram {
    position: absolute;
    top: 180rem;
}
/*footer ============================================================*/
footer {
    position: absolute;
    width: 100%;
    height: 20rem;
    top: 200rem;
}