* {
    padding: 0px;
    margin: 0px;
}
/*fonts===========================================================*/
@font-face {
    font-family: 'sam';
    src: url(Arimo/Arimo-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*body=============================================================*/
body {
    font-family: 'sam', sans-serif;
    position: absolute;
    width: 100%;
    height: 120rem;
    overflow-x: hidden;
    background-color: rgb(235, 235, 235);
}
/* navigation=======================================================*/
nav {
    position: fixed;
    width: 80%;
    height: 2.7rem;
    top: 2rem;
    left: 10%;
    background-color: white;
    transition: 0.3s;
    border-radius: 2rem;
}
nav.hidden {
    transform: translateY(-200%);
}
nav.visible {
    transform: translateY(0%);
}
nav > a {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0.5%;
    text-decoration: none;
    color: #4e4e4e;
    margin-left: 2%;
    font-size: 1.1rem;
}
nav > a:first-child {
    display: inline-block;
    background-image: url(images/sama_logo_1.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 2rem;
    width: 2rem;
    margin-left: 2%;
    margin-top: 0.5%;
}
nav > a:nth-child(2) {
    color: tomato;
}
nav > a:nth-child(6) {
    margin-left: 35%;
}
nav > a:nth-child(7) {
    background-image: url(images/favorite.png);
    height: 1.8rem;
    width: 2rem;
    background-size: contain;
    background-repeat: no-repeat;
}
nav > :nth-child(8) {
    color: white;
    background-color: #4e4e4e;
    width: 1.4rem;
    margin-left: 0%;
    padding-left: 1%;
    padding-top: 0.6%; 
    height: calc(1.5rem + 2%);
    border-radius: 50%;
}
nav > div {
    display: inline-block;
    vertical-align: middle;
    z-index: 1;
    position: relative;
    width: 13%;
    padding-left: 1%;
    height: 1.4rem;
    margin-top: 0.5%;
    border: none;
    margin-left: 2%;
    border-radius: 1rem;
}
nav > div > input {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 10%;
    border-radius: 1rem;
}
nav > div::after {
    content: '';
    position: absolute;
    z-index: 2;
    left: 80%;
    background-image: url(images/search.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 1.5rem;
    width: 1.5rem;
}
nav > a:hover {
    color: tomato;
    transition: 0.3s;
}
nav > div > input:focus {
    background-color: rgba(255, 99, 71, 0.438);
}
/*header =============================================================*/
header {
    position: absolute;
    width: 100%;
    height: 55rem;
    background-image: url(images/two_young_women_sitting_together_outdoors_smiling_warmly_at_the_camera_they_are_wearing_stylish_sne_4hngmw33ipig0cfbkl8b_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}
header > h2 {
    position: absolute;
    color: white;
    font-size: 4rem;
    font-weight: 700;
    top: 36rem;
    left: 4%;
}
header > p {
    font-family: serif;
    position: absolute;
    color: white;
    font-size: 2rem;
    top: 41rem;
    left: 4%;
}
header > a {
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    border: 2px solid white;
    padding: 0.5% 5%;
    top: 46rem;
    left: 4%;
    border-radius: 2rem;
}
header > a:hover {
    background-color: yellow;
    color: black;
    transition: 0.3s;
    border-color: black;
}
/*main =============================================================*/
main {
    position: absolute;
    z-index: 1;
    top: 55rem;
    width: 100%;
}
/*bestsellers =======================================================*/
#bestsellers {
    position: absolute;
    width: 100%;
}
#bestsellers > section > h2 {
    display: inline-block;
    vertical-align: middle;
    font-size: 2.5rem;
    width: 70%;
    font-weight: 700;
    margin-left: 4%;
    margin-top:  1rem;
    color: #272727;
}
#bestsellers > section > a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-left: 10%;
    border: 2px solid  black;
    padding: 0.5% 2%;
    border-radius: 1rem;
}
#bestsellers > section > a:hover {
    background-color: yellow;
    transition: 0.3s;
}
#bestsellers > div {
    position: absolute;
    width: 100%;
    height: 25rem;
    margin-top: 2rem;
}
#bestsellers > div > section {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    height: 100%;
    margin-left: 3%;
    text-align: center;
}
#bestsellers > div > section > img {
    position: absolute;
    width: 90%;
    height: 70%;
    right: 5%;
    border-radius: 1rem;
}
#bestsellers > div > section > img:first-child {
    z-index: 2;
}
#bestsellers > div > section > p {
    position: absolute;
    top: 75%;
    left: 7%;
    font-size: 1.2rem;
    color: #4e4e4e;
}
#bestsellers > div > section:hover > img:first-child {
    opacity: 0;
    transition: 0.3s;
}
/*newarrival ========================================================*/
#newarrival {
    padding: 2.5rem 3%;
    position: absolute;
    width: 94%;
    top: 35rem;
    z-index: 3;
    color: white;
    background-color: white;
}
#newarrival > section:first-child {
    position: relative;
    width: 100%;
    height: 40rem;
    background-image: url(images/nike.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
#newarrival > section:first-child > p:first-child {
    position: absolute;
    font-size: 2.3rem;
    top: 70%;
    left: 5%;
    font-weight: 500;
}
#newarrival > section:first-child > p:nth-child(2) {
    position: absolute;
    font-size: 2.3rem;
    top: 77%;
    left: 5%;
    font-weight: 500;
}
#newarrival > section:first-child > a {
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    border: 2px solid white;
    padding: 0.5% 6%;
    top: 85%;
    left: 5%;
    border-radius: 2rem;
}
#newarrival > section:first-child > a:hover {
    background-color: yellow;
    color: black;
    transition: 0.3s;
    border-color: black;
}
#slide_container {
    width: 100%;
    white-space: nowrap;
    /* white-space: nowrap; */
    height: 3rem;
    /* padding-left: 1%;
    padding-right: 1%; */
    /* border: 1px solid black; */
    background-color: yellow;
    overflow: hidden;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
#slider {
    padding: 0.5rem 0% 0.5rem 0%;
    font-size: 1.5rem;
    font-weight: 600;
    width: max-content;
    animation: slide 15s linear infinite;
}
#slider > div {
    position: relative;
    display: inline-block;
    color: black;
    /* padding-left: 1%;
    padding-right: 1%; */
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-weight: 600;
}
#slider > div > p {
    display: inline-block;
    vertical-align: middle;
}
#slider > div > div {
    display: inline-block;
    vertical-align: middle;
    width: 1.3rem;
    height: 1.3rem;
    background-image: url('images/sama_logo_1.png');
    background-size: contain;
    background-repeat: no-repeat;
}
/* #slider > p::after {
    content: '';
    background-image: url('images/sama_logo_1.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 0.5rem;
    position: absolute;
    width: 1.7rem;
    height: 1.7rem;
    right: -1rem;
}
#slider > p::before {
    content: '';
    background-image: url('images/sama_logo_1.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 0.5rem;
    position: absolute;
    width: 1.7rem;
    height: 1.7rem;
    left: -1rem;
} */
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
/*shop by catagori =================================================*/
#shop_by_catagory {
    position: absolute;
    top: 83rem;
    z-index: 3;
    padding-bottom: 5rem;
    background-color: white;
    width: 100%;
}
/* #shop_by_catagory > section:first-child {
    border: 1px solid black;
} */
#shop_by_catagory > section:first-child > h2{
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    padding-left: 3%;
}
#shop_by_catagory > section:first-child > a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 60%;
    text-decoration: none;
    color: black;
    border: 2px solid  black;
    padding: 0.5% 2%;
    border-radius: 1rem;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}
#shop_by_catagory > section:first-child > a:hover {
    background-color: yellow;
    transition: 0.3s;
}
#shop_by_catagory > div > section {
    display: inline-block;
    vertical-align: middle;
    margin-left: 3%;
    margin-top: 2rem;
    height: 35rem;
    width: 28%;
    background-color: rgb(231, 231, 231);
    /* border:1px solid black; */
    border-radius: 1rem;
}
#shop_by_catagory > div > section:nth-child(2) {
    margin-left: 4%;
}
#shop_by_catagory > div > section:nth-child(3) {
    margin-left: 4%;
}
#shop_by_catagory > div > section > img {
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    height: 384px;
    border-radius: 0.7rem;
}
#shop_by_catagory > div > section > a {
    display: inline-block;
    text-decoration: none;
    margin-top: 10%;
    margin-left: 20%;
    color: black;
    border: 1px solid  black;
    padding: 5% 20%;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 1rem;
}
#shop_by_catagory > div > section:hover {
    background-color: rgb(202, 202, 202);
    transition: 0.3s;
}
#shop_by_catagory > div > section > a:hover {
    background-color: yellow;
    transition: 0.3s;
}
/*our_story =========================================================*/
#our_story {
    position: absolute;
    z-index: 3;
    top: 127rem;
    width: 100%;
    background-color: white;
}
#our_story > div {
    color: rgb(0, 56, 73);
    display: inline-block;
    width: 93%;
    border-radius: 2rem;
    height: 25rem;
    margin-left: 3%;
    background-color: rgb(158, 224, 250);
}
#our_story > div > h2 {
    font-size: 2.5rem;
    margin-top: 2rem;
    font-weight: 600;
    margin-left: 45%;
}
#our_story > div > p:nth-child(2) {
    margin-left: 11%;
    font-size: 2rem;
    width: 77%;
    text-align: center;
    font-weight: 500;
}
#our_story > div > p:nth-child(3) {
    margin-left: 1%;
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
}
/*instagram =========================================================*/
#instagram {
    position: absolute;
    top: 180rem;
}
/*footer ============================================================*/
footer {
    position: absolute;
    width: 100%;
    height: 20rem;
    top: 200rem;
}